<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage" highLowerBound="80"/>
        </report>
    </coverage>
    <php>
        <env name="APP_KEY" value="base64:kO8lyU6exVlcU6HeMs5BD8yyIlZ61MVCbQBgtzBD77U="/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
